<form class="table-container" [formGroup]="expensesForm">
  <mat-table
    #table
    [dataSource]="dataSource"
    formArrayName="expensesRows"
    class="table-wrapper"
  >
    <ng-container matColumnDef="subCategoryColumn">
      <mat-header-cell *matHeaderCellDef>Sub-Category</mat-header-cell>
      <mat-cell
        *matCellDef="let expense; let index = index"
        [formGroupName]="index"
      >
        <mat-form-field floatLabel="never">
          <input matInput type="text" formControlName="sub_category" />
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="commentsColumn">
      <mat-header-cell *matHeaderCellDef> Comments </mat-header-cell>
      <mat-cell
        *matCellDef="let expense; let index = index"
        [formGroupName]="index"
      >
        <mat-form-field floatLabel="never">
          <input matInput type="text" formControlName="comments" />
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="plannedAmountColumn">
      <mat-header-cell *matHeaderCellDef> Planned Amount </mat-header-cell>
      <mat-cell
        *matCellDef="let expense; let index = index"
        [formGroupName]="index"
      >
        <mat-form-field floatLabel="never">
          <input matInput type="number" formControlName="planned_amount" />
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actualAmountColumn">
      <mat-header-cell *matHeaderCellDef> Actual Amount </mat-header-cell>
      <mat-cell
        *matCellDef="let expense; let index = index"
        [formGroupName]="index"
      >
        <mat-form-field floatLabel="never">
          <input
            matInput
            type="text"
            placeholder="enter in the format of: 1+2+3"
            (blur)="onBlur(expense)"
            formControlName="actual_amount"
          />
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <div class="buttons-container">
    <div *ngIf="actualAmount && actualAmount.touched">
      Name cannot match alter ego.
    </div>
    <button mat-button (click)="onAddNewRow()">Add new row</button>
    <button mat-button color="primary" (click)="submit()">Submit</button>
  </div>
</form>
