<div class="table-container">
  <div class="table-wrapper">
    <mat-table #table [dataSource]="categoryExpenses.expenses">
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let expense">
          <input
            type="date"
            placeholder="Choose an expense date"
            [value]="expense.date"
            [(ngModel)]="expense.date"
          />
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let expense">
          <mat-form-field floatLabel="never">
            <input
              matInput
              type="text"
              [value]="expense.description"
              [(ngModel)]="expense.description"
            />
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
        <mat-cell *matCellDef="let expense">
          <mat-form-field floatLabel="never">
            <input
              matInput
              type="number"
              [value]="expense.amount"
              [(ngModel)]="expense.amount"
            />
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
  <div class="buttons-container">
    <button mat-button (click)="onAddNewRow()">Add new row</button>
    <button mat-button color="primary" (click)="submit()">Submit</button>
  </div>
</div>
