.table-container {
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  height: 20vh;
  overflow-y: auto;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 10px;
}
