.expenses-container {
  display: flex;
  flex-direction: column;
}

.expenses-subject-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 10px;
}

.subject {
  color: blueviolet;
  font-weight: 500;
  font-size: 1em;
  margin: 5px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 10px;
}

